body {
    font-family: SF Pro, -apple-system, BlinkMacSystemFont, 'Inter', "system-ui", sans-serif;
    background-color: var(--bg-secondary);
    color: var(--primary);

    h1 {
        font-size: 84px;
        line-height: 88px;
        font-weight: 500;
    }

    h2 {
        font-size: 64px;
        line-height: 68px;
        font-weight: 500;
        letter-spacing: 0.009em;
    }

    h3 {
        font-size: 48px;
        line-height: 52px;
        font-weight: 500;
    }

    h4 {
        font-size: 32px;
        line-height: 36px;
        font-weight: 600;
    }

    h5 {
        font-size: 19px;
        line-height: 27px;
        font-weight: 600;
    }

    .copy {
        span {
            color: var(--primary);
        }

        p {
            font-size: 19px;
            line-height: 27px;
            font-weight: 600;
            color: var(--secondary);
        }
    }
}

.intro {
    padding-block: 106px 163px;
    text-align: center;

    .header {
        position: relative;
        gap: 80px;
        align-items: center;

        h1 {
            background-image: linear-gradient(45deg, var(--primary), #018DA5 25%, #105676 45%, #018DA5 65%, #014F59 75%, var(--primary));
            background-size: 225% 100%;
            background-color: var(--primary);
            background-position: 225% 0%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;

            transform: translateY(20px) scale(1.1);
            animation:
                h1-gradient 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards,
                h1-reposition 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
            animation-delay: 0.2s;
        }

        .key {
            aspect-ratio: 1348/600;
            min-width: 1348px;
            background-image: url(img/key.avif);

            opacity: 0;
            transform: scale(0.96) translateY(10px);
            animation: key-enter 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
            animation-delay: 0.2s;
        }

        .copy {
            transform: translateY(20px);
            opacity: 0;
            animation: h1-reposition 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
            animation-delay: 2.4s;
            align-items: center;
            gap: 30px;

            p {
                font-size: 24px;
                line-height: 32px;
                max-width: 652px;
            }
        }
    }
}

@keyframes h1-gradient {
    0% {
        background-position-x: 225%;
    }

    100% {
        background-position-x: 50%;
    }
}

@keyframes h1-reposition {
    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

@keyframes key-enter {
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.ipad-mac {
    background-color: var(--bg-primary);
    padding-block: 184px 195px;
    gap: 163px;

    .header {
        gap: 64px;
        align-items: center;

        .copy {
            gap: 20px;
        }

        p {
            max-width: 582px;
        }

        .ipad {
            aspect-ratio: 1180/905;
            width: 1180px;
            background-image: url(img/options.avif);
        }
    }

    .drag-and-drop {
        flex-direction: row;
        gap: 68px;
        justify-content: flex-end;
        align-items: center;

        .criteria {
            aspect-ratio: 1180/905;
            min-width: 1180px;
            background-image: url(img/criteria.avif);
        }

        .copy {
            gap: 41px;

            width: fit-content;

            p {
                min-width: 490px;
            }

            p:nth-of-type(2) {
                font-size: 17px;
                line-height: 22px;
                font-weight: 400;
                letter-spacing: -0.017em;
            }
        }
    }

    .why {
        align-items: center;
        gap: 64px;

        .copy {
            gap: 41px;

            p {
                max-width: 580px;
            }

            p:nth-of-type(2) {
                font-size: 17px;
                line-height: 22px;
                font-weight: 400;
                letter-spacing: -0.017em;
            }
        }

        .cab-tabs {
            align-items: center;
            gap: 40px;
        }

        .item {
            aspect-ratio: 1180/905;
            width: 1180px;
            background-image: url(img/if.avif);
        }
    }
}

.decisions {
    padding-block: 196px 163px;
    gap: 96px;
    background: var(--bg-secondary);

    .heading {
        gap: 20px;
    }

    .features {
        gap: 163px;

        .cab-tabs {
            gap: 68px;
            align-items: center;
            flex-direction: row;

            .item {
                aspect-ratio: 400/818;
                min-width: 423px;
                width: 423px;
                background-image: url(img/loop-around.avif);
            }

            .copy {
                gap: 41px;
                position: relative;

                p {
                    opacity: 0;
                    transform: translateY(4px) scale(0.98);
                    transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                    pointer-events: none;
                    position: absolute;
                }

                p.reveal {
                    opacity: 1;
                    transform: translateY(0) scale(1);
                    pointer-events: auto;
                    position: relative;
                }
            }
        }

        .AI {
            gap: 0px;
            align-items: flex-end;

            .copy {
                gap: 41px;

                p {
                    max-width: 490px;
                }

                p:nth-of-type(2) {
                    font-size: 17px;
                    line-height: 22px;
                    font-weight: 400;
                    letter-spacing: -0.017em;
                }
            }

            .h-decisionid {
                display: flex;
                align-items: flex-end;
                max-height: 740px;

                .decisionid {
                    aspect-ratio: 400/818;
                    width: 423px;
                    background-image: url(img/decisionid.avif);
                }
            }
        }
    }
}

.mac {
    background: var(--bg-gradient);
    padding-block: 184px 195px;

    .header {
        gap: 64px;
        align-items: center;

        .copy {
            gap: 20px;
            align-items: flex-start;
        }

        p {
            max-width: 582px;
        }
    }

    .cab-tabs {
        gap: 40px;
        align-items: center;

        .item {
            aspect-ratio: 6510/4291;
            width: 1280px;
            background-image: url(img/sh-options.avif);
        }
    }

    .copy {
        align-items: center;
    }


}

.scroll-gallery {
    --card-width: 405px;
    --card-height: 740px;

    gap: 40px;
    width: 100vw;
    background-color: var(--bg-secondary);
    align-items: flex-start;

    h3 {
        padding-inline: calc(var(--scroll-padding) + 4px);
        font-weight: 500;
    }

    .scroll {
        width: 100vw;
        overflow: scroll;
        will-change: transform;
        scroll-snap-type: x mandatory;
        scroll-padding: var(--scroll-padding);
        scrollbar-width: none;
        padding: 20px 0;
        margin: -20px 0;

        .hold-items {
            display: inline-grid;
            gap: 20px;
            grid-template-rows: auto;
            grid-auto-flow: column;
            width: fit-content;
            padding-inline: var(--scroll-padding) 40px;

            a,
            .hold-card {
                scroll-snap-align: start;
                transform-origin: center;
                transition: transform 0.3s ease-in-out;

                .card {
                    display: flex;
                    flex-direction: column;
                    width: var(--card-width);
                    height: var(--card-height);
                    border-radius: 28px;
                    scroll-snap-align: start;
                }

                .dark {
                    background-color: var(--d-bg-primary);
                    color: var(--d-primary);

                    a {
                        color: inherit;
                    }

                    .open {
                        background-color: rgb(120, 120, 128, 0.36);
                    }
                }

            }

            a:hover {
                transform: scale(1.012);
                cursor: pointer;
            }
        }
    }

    .controls {
        display: flex;
        padding-inline: calc(var(--scroll-padding) + 4px);
        gap: 18px;
        justify-content: flex-end;
        width: 100%;
        margin-top: 8px;

        button {
            aspect-ratio: 1/1;
            width: 36px;
            background-color: var(--platter);
            border-radius: 100px;
            cursor: pointer;
            transition: opacity 0.2s ease-in-out;

            svg {
                fill: var(--secondary);
            }
        }

        button:active {
            transition: opacity 0.05s ease-in-out;
            opacity: 0.5;
        }

        .left {
            padding-left: 3px;
        }

        .right {
            padding-right: 3px;
        }

        .disabled {
            opacity: 0.5;
        }
    }
}

.text-cards {
    --viewport-responsive: 87.5vw;
    --scroll-padding: calc(50vw - min(1680px, var(--viewport-responsive))/2);
    --card-width: 372px;
    --card-height: 580px;

    background-color: var(--bg-primary);
    padding-block: 184px 195px;

    .header {
        padding-inline: calc(var(--scroll-padding) + 4px);
        gap: 41px;

        .copy {
            gap: 20px;
            align-items: flex-start;
        }

        a {
            cursor: pointer;
            font-size: 17;
            line-height: 26px;
            font-weight: 500;
            padding: 8px 21px;
            border-radius: 100px;
            border: 1.5px solid var(--primary);
            transition: all 0.2s;
            color: inherit;
            text-decoration: none;
            width: fit-content;
        }

        a:hover {
            border: 1.5px solid var(--hover);
            color: var(--hover);
        }
    }

    .hold-card {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: var(--card-width);

        .card {
            width: var(--card-width);
            height: var(--card-height);
            border-radius: 28px;
            background-color: var(--bg-secondary);
        }

        p {
            font-size: 17px;
            line-height: 22px;
            font-weight: 600;
            /* letter-spacing: -0.022em; */
            padding-inline: 10px 50px;
            color: var(--secondary);

            span {
                color: var(--primary);
                font-weight: 600;
            }
        }
    }

    .dieter {
        background-image: url(img/dieter-large.avif);
    }

    .braun {
        background-image: url(img/braun-large.avif);
    }

    .apple-5c {
        background-image: url(img/5c-large.avif);
    }

    .tufte {
        background-image: url(img/tufte-large.avif);
    }

    .nasa-unity {
        background-image: url(img/nasa-unity-large.avif);
    }

    .apple {
        background-image: url(img/apple-large.avif);
    }
}